<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>学唱团报名Admin</title>
        <meta charset="utf-8" />
        
        <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}" ></script>
	    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    </head> 
    <body>
    <div class="container" >
    <a href="/user/category">Category</a> | <a href="/"> Home</a>
    <h2>Add a category:</h2>
	<form action="" method="POST">
	 <div class="form-group">
	    <label for="exampleInputEmail1">名称:</label>
	    <input type="text" class="form-control" name="name" value="" required="required" />
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">报名开始日期:</label>
	    <input type="date" name="date" value="text" required="required" />
	  </div>
	 <div class="form-group">
	    <label for="exampleInputEmail1">最大人数:</label>
	    <input type="number" name="maxCount" value="10" required="required"/>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">显示:</label>
	    <input type="radio" name="active" value="1" checked="checked"/> active
		<input type="radio" name="active" value="0" /> Inactive
	  </div>
	  <input  type="hidden"  th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>
    </body>
</html>