<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>学唱团报名Admin</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>  
		<table>
		  <thead>
		    <tr>
		      <th>Id</th>
		      <th>Name</th>
		      <th>StartTime</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="o: ${allCategories}">
		      <td th:text="${o.id}">Oranges</td>
		      <td th:text="${o.name}">0.99</td>
		      <td th:text="${o.beginTime}">0.99</td>
		      <td>
		      <a th:href="@{/user/category/{id}/update(id=${o.id})}">Update</a>
		      <a th:href="@{/user/category/{id}/delete(id=${o.id})}">Delete</a>
		      <a th:href="@{/user/category/{id}/view(id=${o.id})}">Attendees</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
    </body>
</html>