<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>学唱团</title>
<meta name="description" content="学唱团"></meta>
<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div>
		<img style="height: 60px; float: rihgt;" src="/img/logo.png" th:href="@{/img/logo.png}" />
	</div>
	<div class="wtd"></div>
	<h3>学唱团报名</h3>
	<div style="padding-top:10px;">
		<h4 style="color:red;">报名失败：名额已满！</h4>
	</div>	
	<a href="/" >返回首页</a>
</body>
</html>
